*{
	margin: 0px;
	padding: 0px;
}
body {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background: #fff;
    background:url("images/back.png");
    background-size: cover;

}
.main{
	width: 100%;
	height: 70px;
	background-color: rgba(1,1,1,0.5);

}
.navli>li>a{
	font-size: 15px;
	margin: 10px;
	text-decoration: none;
	color: rgba(255,255,255,0.8)

}
.delicious{
	color: #fff;
}